* {
  padding: 0;
  margin: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: "Raleway", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 0;
  text-align: center;
  width: 350px;
  height: 5000px;
  margin: auto;
  padding-top: 350px;
}

main img {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}

main a {
  text-decoration: none;
  font-size: 22px;
  margin-bottom: 80px;
}

main a:hover {
  text-decoration: underline;
}
/* 
.login{
  

} */

/* ------------------------------- */
/* CSS ADDED BY FELIX */
/* header styling */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  width: 100vw;
  text-align: center;
  padding: 1.5em 0em;
  /* if 'padding' is given two values, it applies the first to padding-top/bottom and the second to padding on the right and left */
  background-color: rgb(20, 20, 20);
  border-bottom: 1px solid white;
}

header h1,
header a {
  background-color: rgb(20, 20, 20);
}

header a {
  text-decoration: none;
  font-weight: bolder;
}

.headerSmall {
  font-size: 1.5em;
  align-self: center;
}

.headerSmall:hover {
  text-decoration: underline;
}

#headerBig {
  font-size: 3em;
  font-family: "Satisfy", cursive;
}

.sticky {
  position: fixed;
  top: 0;
}

/* non-header styling */

fieldset {
  padding: 20px 20px 0 20px;
}

fieldset p {
  padding: 20px;
}

#login {
  border: none;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 5px;
  font-size: 14px;
}
